[2019-01-13 13:52] insomniacslk opened #13 "Detect config changes"
Whenever the config file on disk has changed, detect it and reload.

This can be easily done with `viper`'s `OnConfigChange`, https://github.com/spf13/viper/blob/master/viper.go#L276 .

[2019-01-16 10:20] borats opened #15 "Build fail"
Hi there,

Thanks for providing coredhcp.

I am facing a build issue while building master:
[code]

[2019-01-16 12:32] insomniacslk commented on #15
Can you try the `go get` for uio by also adding `-u`? I believe you have an outdated uio package

[2019-01-16 12:34] borats commented on #15
[code]

[code]
[code]

anything else?

[2019-01-16 12:36] borats commented on #15
% go version
go version go1.11 linux/arm64

[2019-01-16 16:44] insomniacslk commented on #15
I meant, run `go get -u github.com/u-root/u-root/pkg/uio`

[2019-01-16 16:47] insomniacslk commented on #15
Can you check that your GOPATH contains the right `uio/buffer.go`? This is what you should have, https://github.com/u-root/u-root/blob/16820609e35a9ddc5b2acec247400f3895566acb/pkg/uio/buffer.go#L166 , but I assume it's an old one.

If so, try:
[code]

[2019-01-17 00:35] borats commented on #15
@insomniacslk I am using Go module in `1.11`. My `$GOPATH` is not set any more.

[2019-01-17 09:44] insomniacslk commented on #15
So you should follow the upgrade procedure for Go modules, see https://github.com/golang/go/wiki/Modules#how-to-upgrade-and-downgrade-dependencies and make sure that you are using the latest `uio` package

[2019-01-17 14:44] borats commented on #15
Great. It builds now. Pulled master branch for github.com/u-root/u-root
[code]

However the build of `cmds/coredhcp` fails:
[code]

[2019-01-17 17:24] pmazzini commented on #15
Thanks for pointing it out. That is due to a recent change in the DHCP library. It will be fixed by #16.

[2019-01-17 18:52] pmazzini commented on #15
@borats Does it work now? Can this issue be closed?

[2019-01-18 09:12] borats commented on #15
Yes it does. Thanks.

[2019-01-18 09:12] #15 closed

[2019-01-18 17:35] mdlayher opened #17 "IPv6 address configuration via NDP"
Hey all, this looks like a pretty neat project! I see you're primarily targeting DHCPv4/6, which makes sense, but was curious if IPv6 address configuration via SLAAC using NDP router advertisements could potentially be in scope for the project as well.

It's been my experience that SLAAC is more common in IPv6 since you don't necessarily have to strictly control which machines get which addresses

[2019-01-18 17:36] insomniacslk commented on #17
Absolutely yes!

[2019-01-18 17:42] insomniacslk commented on #17
On the plan itself - it's not a hi-pri item at the moment, but if you want to send a few PRs to speed up this side of the development we'd be happy to review them :)

[2019-01-18 17:50] mdlayher commented on #17
For sure. I don't have a lot of time for OSS at the moment, but I figured I'd at least get the conversation started.

The tricky thing is figuring out how far you really want to go with it.

As an example, at home, I'm using DHCPv6-PD to get an IPv6 prefix delegated from my ISP, and then I have multiple VLANs that each advertise a /64 for use with SLAAC.  This seems to be the way that most residen

[2019-04-23 21:04] dlad opened #27 "Refactor handler"
I want to refactor the way handlers work so that a handler is responsible for calling the next handler in the chain.

`handler.go` could end up being something like this:

[code]

And an example plugin could be something like this:

[code]

This would allow handler code to be executed after the next handler has been called. In the example above, it supports the capture of statistics.

@insomniacsl

[2019-04-23 22:26] insomniacslk commented on #27
This would give a lot of responsibility to plugins, meaning 1. a lot of duplicate logic, and 2. the first plugin that gets this wrong will break the chain (or let it continue when it should break). I think the current approach is simpler and protects from this kind of mistakes.

This would break the intentionally predictable and simple pipeline model, where each plugin needs no knowledge of the ot

[2019-04-24 21:44] dlad commented on #27
I think it can be done without giving responsibility to plugins.

Plugins would need to explicitly return true or false to prevent further processing. If they want to continue with the next handler, they call `next()`. This is similar to how plugins currently return a boolean to control further processing, except false means do not call any more plugins and do not send DHCP reply, true means do no

[2019-04-24 21:58] tysonvinson commented on #27
This sounds like [CoreDNS](https://github.com/coredns/coredns) which uses the [Caddy](https://github.com/mholt/caddy) plugin architecture. I'm not deeply familiar with the implementation but it might be something to investigate.

[2019-04-27 16:54] insomniacslk commented on #27
I think this is still delegating the responsibility to the plugin. Specifically, each plugin now must know that they have to either return true, false, or the return value of `next()`.

* Currently, a plugin just needs to know "return true or false". It can be simply asserted at compile time - you have to return something or it won't compile.
* With the proposed approach, the plugin can return tru

[2019-05-13 09:21] kovetskiy opened #29 "Performance comparison with other dhcp clients"
Hey, thanks for the project, it sounds interesting, is there any table comparison with other dhcp clients such as dh-client, dhcpcd or systemd-networkd (interested only in dhcp mode)?

[2019-05-13 10:11] insomniacslk commented on #29
Hey @kovetskiy, this is only a server, not a client, so that comparison would not be possible. The open source DHCP client scenario is much better than the server counterpart, so we didn't feel the need of providing a different client. However you can play with a sample client using the same DHCP library that we wrote, see https://github.com/insomniacslk/dhcp and the example under https://github.c

[2019-05-13 12:18] kovetskiy commented on #29
Hi, thanks for the reply.

[2019-05-13 12:18] #29 closed

[2019-05-26 10:46] DHunte opened #30 "Lack of logging for request handling"
Hi,

I seem to have issues using coredhcp but its difficult to tell what the specific problem is as the output of the server simply says "Handling request from 0.0.0.0:68" in an infinite loop whilst i try to connect from another dhcp client. It would be nice to have the server log the results of any "request handling" so it simpler to detect a failure to provide an address and the reason if possib

[2019-05-26 16:00] insomniacslk commented on #30
It's in the plans to improve logging - CoreDHCP is just not ready yet for general use.

Re. the issue itself, if you're using the file plugin, my guess is that the MAC address of your client is not in the leases file

[2019-05-27 15:25] DHunte commented on #30
This seemed to fix the problem - but is there a feature to auto-add the MAC? Im not sure of the specifics of the behaviour of other DHCP services but im used to plugging a device into the network and it automatically being assigned an IP so having to add the MAC to the list before its assigned seems odd, but im not an expert

[2019-05-27 15:25] #30 closed

[2019-05-27 20:28] insomniacslk commented on #30
re. automatically adding MAC addresses - not with the `file` plugin. More plugins need to be implemented, e.g. to provide a DHCP range. The `file` plugin is intentionally only for static assignment of MAC -> IPaddr

[2019-07-15 21:20] insomniacslk opened #36 "the DUID of incoming requests must match the server's DUID"

[2019-07-15 21:20] insomniacslk opened #37 "plugins/file: copy the IA_ID field from the client's request"

[2019-07-15 21:21] insomniacslk opened #38 "plugins/file: the NBP URL must come from leases.txt"

[2019-08-23 13:57] pmazzini commented on #38
I think the NBP URL should come from a separate plugin.

[2019-08-23 16:58] insomniacslk commented on #38
That's fine, leases.txt is specific to the file plugin, but anything that overrides it works as well

[2019-08-26 20:24] insomniacslk opened #45 "Move plugin initialization to main.go"
The plugin initialization should not happen in a "magic" `init()` call in the plugins. Rather, the plugins should expose a registration function that does the plugin set-up and returns plugin name and handlers. The framework should handle the rest.

[2019-09-12 14:49] Natolumin opened #50 "Handling relay-forwarded messages is error-prone"
in #49 I had to fix some logic in 2 plugins for handling relayed messages. Since the full request message is passed to the plugin handlers, in most cases they have to unwind the relay-forward stack of encapsulated messages to get to the options of the inner message. This is error prone because most people won't think to test in relayed contexts (esp. since creating a test harness for relayed conte

[2019-09-13 17:30] Natolumin opened #52 "Listening on both multicast and unicast doesn't work (dhcpv6)"
in #28 and https://github.com/insomniacslk/dhcp/pull/278, connection handling and joining multicast groups was refactored. However, it's not possible (at least in linux) to listen on a non-wildcard unicast address, *and* join multicast groups. If you try now in coredhcp, you'll see the setsockopt call in strace but no traffic received on the multicast address, if there is a `listen` stanza with a

[2019-09-17 21:21] insomniacslk opened #55 "Enforce copyright header"
Using `github.com/u-root/u-root/tools/checklicenses` with config

[code]

[2019-09-18 10:21] Natolumin commented on #52
Documenting here a couple issues/gotchas I ran into:

#### Bindtodevice
 * SO_BINDTODEVICE works in both directions: restricts receiving to only one interface, but also sends eg broadcasts on this interface, instead of using the default route.
 * On the BSDs, IP_RECVIF only works in the receive direction. For the send direction you apparently are supposed to use BPF.
 * On Darwin, IP_RECVIF works

[2019-09-18 13:30] #55 closed

[2019-10-09 11:25] gbandres98 opened #61 "plugins/file: Panic when importing file plugin"
When I do `go get github.com/coredhcp/coredhcp` or when I run a go program that imports "github.com/coredhcp/coredhcp/plugins/file", I always get the following panic message:

`../../../github.com/coredhcp/coredhcp/plugins/file/plugin.go:163:6: invalid pointer type *dhcpv6.OptBootFileURL for composite literal`

What could be the reason for this? I have had no other problems with other packages. I

[2019-10-09 11:32] Natolumin commented on #61
What go version are you using (run `go version` in a terminal) ? This project uses go modules, which helps pin dependencies, but that is only supported after go 1.11, and enabled by default everywhere in go 1.13

This error you're seeing is caused by a breaking change in an upstream library, however you should not be encountering it since we have the version of that library pinned to an earlier co

[2019-10-09 11:55] gbandres98 commented on #61
Hello @Natolumin, thanks for your help. We are using go 1.12.9, but running `GO111MODULE=on go get github.com/coredhcp/coredhcp` doesn't solve our problem, as we still get the same error using that package. Do you think there might be any other way to download an older version of the dependencies? We are not ready to migrate to go modules yet.

[2019-10-09 13:00] Natolumin commented on #61
It might be possible to work around the issue by running `GO111MODULE=on go get github.com/insomniacslk/dhcp@834a63bade8a` (That is the offending dependency and after the @ is the commit id from the go.mod file).
Alternatively if module mode doesn't work at all, in GOPATH mode this should work (but will break as soon as you `go get -u` to update dependencies)
[code]

Since I can't reproduce the is

[2019-10-09 15:49] pmazzini commented on #61
I updated coredhcp to match the latest library changes: https://github.com/coredhcp/coredhcp/pull/62.

[2019-10-09 16:44] gbandres98 commented on #61
Thanks again @Natolumin. We haven't been able to work with GO111MODULE=on, but your second workaround did work for us. Thank you very much for your help.

[2019-10-09 22:15] #61 closed

[2019-10-16 21:40] Mantic commented on #45
Agreed. Some go linters re-arrange the imports on file save (in VSCode for example), which breaks the intended functionality of the packages. I modified my own copy to simply expose a "Register" function on each plugin so I can call it in the order I like. Plus that allows me to be able to pass in configuration settings at run time to the plugins (in the case I want to grab configs from env variab

[2019-10-16 21:51] Mantic opened #63 "No windows support due to 3rd party package restrictions."
Trying to compile for windows fails because dependencies to "github.com/u-root/u-root/pkg/rand" (from the locally referenced package: "github.com/insomniacslk/dhcp") does not support any windows builds. It has build constraints on *nix systems only in order to use a crypto-safe random number generator (which there are options for windows). This forces coredhcp to run on *nix systems only.

I'm dev

[2019-10-17 09:53] pmazzini commented on #63
Yes, better to open an issue there.

We are happy to accept PRs for adding windows support to the dhcp library.

[2019-12-07 18:10] kfox1111 opened #76 "etcd plugin"
It would be great if leases could be stored in etcd for HA setups.

[2019-12-09 18:57] pmazzini commented on #63
Issue was opened on the library:

https://github.com/insomniacslk/dhcp/issues/339

[2019-12-09 18:57] #63 closed

[2019-12-15 21:48] bradbeam opened #77 "add prebuilt binaries to releases"
It'd be nice to have some prebuilt binaries added to the releases page during tags to make it easier to get started.

[2019-12-15 21:50] bradbeam opened #78 "enhance docs around configuration file"
I struggled to get coredhcp going with regards to what the config file should be named and where it should be located. It'd be great to put https://github.com/coredhcp/coredhcp/blob/master/config/config.go#L58-L64 into docs somewhere.

[2019-12-15 21:52] bradbeam opened #79 "`interface` is a required parameter, but not shown in the example configs"
coredhcp fails to start without specifying an interface to listen on.

[2019-12-15 21:55] bradbeam opened #80 "in use address being offered to new host"
Probably need to double check this, but I think I was running into an issue where coredhcp was offering an already used address when the range was full. I'm not sure if the appropriate behavior is to not send an offer or something else.

[2019-12-15 21:56] Natolumin commented on #80
range is mostly/completely broken. I know @insomniacslk was working on fixing it but it might be worth removing from the default build configuration altogether in the meantime

[2019-12-17 16:19] insomniacslk commented on #52
Overall it looms very good to me. The only thing I'd like to discuss is whether we should use the same syntax for V6 and v4

[2019-12-25 16:29] mdlayher commented on #17
I've been thinking about this again for a few days and I suspect it makes more sense to split this out into its own project. The existing functionality is very much DHCP focused and there would be little to no code reuse for NDP. I think I'll give this a go on my own, but if it makes sense for us to have integration points, I'd be happy to talk about that!

[2019-12-25 16:29] #17 closed

[2020-01-06 11:33] insomniacslk opened #83 "Listen on multiple interfaces"
We should allow listening on multiple interfaces to enable DHCP on systems with multiple NICs (e.g. a home router with two or more wifi and/or fixed eth ports).
Can be temporarily worked around spinning up multiple instances, but only if the IPAM logic is external (e.g. with the `redis` or `netbox` plugins), so it'd be great to have it built-in at some point

[2020-01-06 13:43] pmazzini commented on #83
This is related to https://github.com/coredhcp/coredhcp/issues/52 and https://github.com/coredhcp/coredhcp/pull/58.

[2020-02-03 22:26] fitzy101 opened #85 "Vendor Option plugin"
Hi there,

I'm interested in adding support for vendor specific options, as specified in RFCs 2132, 3925 et al. and wanted to gauge the interest for this as an 'official' plugin, and also to confirm that work on this is not already happening. I've only briefly started thinking about how this might work, so I don't have any code or design notes to show yet.

Thanks

[2020-02-03 23:16] pmazzini commented on #85
Hi @fitzy101, thanks for your interest in the project.

The library that CoreDHCP is using (https://github.com/insomniacslk/dhcp/) already supports the vendor specific options from the RFCs that you mentioned.

However, if I remember correctly, those options are not being used in CoreDHCP. There is no problem in adding an official plugin that makes use of those options. No work is currently happen

[2020-02-04 06:30] fitzy101 commented on #85
Hey @pmazzini, thanks for the quick response. I've been looking for an extensible and approachable DHCP server and CoreDHCP is exactly that; and I'd like to contribute to the project if possible.

The idea for the plugin is below, based on having done a bit of isc-dhcp-server configuration with vendor options as a part of my job, mainly for configuring servers for zero touch provisioning of networ

[2020-02-04 09:54] pmazzini commented on #85
You are more than welcome to contribute to the project and it would be nice to have a ZTP plugin.

The library also provides functions to parse the options provided by some vendors:
https://github.com/insomniacslk/dhcp/tree/master/dhcpv4/ztpv4

And docs of where it is being used:
https://github.com/insomniacslk/dhcp/tree/master/dhcpv6/ztpv6

[2020-02-05 00:29] fitzy101 commented on #85
Thanks for the information, I'll start doing some work on this over the next few weeks and let you know if I have any questions.

[2020-02-06 13:50] elmarco opened #86 "Plugin logging on registration can't be made silent"
Hi,

When the plugins are init(), they log the registration:
[code]

Unfortunately, I can't see a way to silent it, since init() is called early, before the program has the chance to change logrus behaviour. Please advise.

[2020-02-06 14:39] elmarco commented on #86
so my current workaround is to have a custom plugin that does:

[code]

[2020-02-06 18:32] insomniacslk commented on #86
Hi @elmarco , the current method to register plugins is suboptimal, and will change. This is tracked in https://github.com/coredhcp/coredhcp/issues/45 and will let you do what you are asking here. It's faily simple to do, and I'll try to tackle it this week

[2020-02-06 18:34] insomniacslk commented on #86
for an example of how it will look like, see how we register plugins in another project, https://github.com/facebookincubator/contest/blob/master/cmds/contest/main.go#L90

[2020-02-07 15:58] #45 closed

[2020-02-07 15:59] insomniacslk commented on #86
@elmarco can you try with the latest commit? Now setting the log level globally should not print the plugin loading messages anymore.

We can also add a CLI flag for the purpose

[2020-02-09 14:30] skrivy commented on #79
We hit this issue as well. We would like coredhcp to be interface independent as we only listen on unicast address.

[2020-02-09 16:39] elmarco commented on #86
works for me, thanks

[2020-02-09 16:39] #86 closed

[2020-02-09 18:03] insomniacslk commented on #79
Thanks for reporting - I will update docs and examples once #58 is merged

[2020-02-10 09:41] insomniacslk opened #89 "Redesign configuration file syntax"
The current configuration file syntax is powerful but it exposes too much of the implementation details to the user, and offloads decision chaining in a way that can be hard to predict if the configuration grows significantly. We agree that we want a more user-friendly yet powerful syntax, and that it should be declarative.

@Natolumin and I have thrown a bunch of ideas on https://gist.github.com/

[2020-02-10 10:45] pmazzini commented on #79
Related to https://github.com/coredhcp/coredhcp/pull/24.

[2020-02-13 19:27] mholt opened #91 "Caddy 2 app"
I remember hearing about this project a while ago, and I think it's really cool! I like that it's inspired by CoreDNS, which is inspired by Caddy.

Caddy v2 is almost ready, and has greatly improved support for serving things other than just HTTP. It'd be great to see a DHCP app for Caddy 2!

Caddy 2 apps inherently benefit from a real-time, on-line configuration API and [automatic config document

[2020-02-13 23:26] insomniacslk commented on #91
Hello Matt! Thanks for opening this issue, CoreDHCP actually started as a Caddy plugin (since I'm a big fan and user of Caddy), but at that time I think the framework was not mature enough (or I didn't understand it well enough), and I felt I was not getting enough benefits from making it a Caddy plugin.

While I don't think we have too much bandwidth at the moment (this is a side project for all

[2020-02-13 23:26] insomniacslk commented on #91
CC @pmazzini @Natolumin @mdlayher

[2020-02-14 03:09] mholt commented on #91
@insomniacslk That's excellent! I can understand why Caddy 1 was not ideal, but in Caddy 2 I've made sure to give "apps" (as I call them; these are top-level, long-running modules which may even have their own Caddyfile structure) first-class priority. Your DHCP server can look like this in Caddy's native JSON config:

[code]

You'd want to expose as many config parameters as you want in the JSON,

[2020-02-21 19:26] ppacher commented on #91
Hi,
I started a similar project ([nextdhcp](https://github.com/nextdhcp/nextdhcp)) this summer and implemented a DHCPv4 server type based on Caddy 1 and similar to CoreDNS. Unfortunately I didn't found CoreDHCP earlier and as I mostly needed a DHCPv4 server I focused on that project now. Since developing 2 DHCP servers that are inspired by Caddy and CoreDNS seems overkill I'd be happy to help out

[2020-02-23 22:08] mholt commented on #91
@ppacher Sounds awesome, that would be great!

[2020-02-29 13:43] askovpen opened #92 "[Feature Request] update bind(named) dns zone."
subj. like ddns update in isc dhcpd

[2020-03-04 15:38] oreoluwa opened #93 "dynamic config file location?"
Slightly related to #78; but I think it would be great if the program is able to receive the config file location via flags, rather than preempting the location for the users (./config.yml, $HOME/.coredhcp/config.yml, /etc/coredhcp/config.yml).
For example, I should be able to start the app with `coredhcp -c /tmp/config.test.yaml`.
Not sure, but I think many users would benefit from this approach.

[2020-03-06 06:14] guo1017138 opened #94 "Change "interface" to optional and let DHCP listens on all interfaces in case of no interface offered"
Hello,

My use case is pretty simple that I only response the static leases. Which MAC is known by the dhcp server. So, I don't matter which interface the Discover message incoming, but just check the MAC is there and then will reply the DHCP Offer message.
So, I don't need to specify the interface and want to listen on all interface.

I've tried allow the interface is empty in the config Load(),

[2020-03-06 06:21] Natolumin commented on #94
#58 does that, we should merge it fairly soon, when I find time to rebase it

[2020-03-06 06:28] guo1017138 commented on #94
@Natolumin , Thank you. I will use the new code by then. Closing this one.

[2020-03-06 06:28] #94 closed

[2020-03-25 06:26] guo1017138 opened #95 "Offer a Close or Shutdown interface to allow close DHCP server"
Hi,

I am using coredhcp in multi-thread mode, I am able to create, Start() a DHCP server and Wait() for packets.
However, I want to end this thread with  DHCP shutdown/close gracefully. while my my main function can continue to do other tasks.

So, I'd like to request a Close() or Shutdown() method which can make Wait() exit gracefully without error.

Thank you.

[2020-04-21 18:45] #52 closed

[2020-04-30 21:33] Natolumin commented on #95
Since #58 there is a [`server.Servers.Close()`](https://pkg.go.dev/github.com/coredhcp/coredhcp/server?tab=doc#Servers.Close) which should do what you want.
You can optionally use `Wait()` after that to wait until all the server goroutines have exited (It will return an error if you've already called Close() which you can ignore

[2020-04-30 22:49] Natolumin commented on #83
#58 provides this

[2020-04-30 22:49] #83 closed

[2020-05-01 16:48] #37 closed

[2020-05-01 16:54] Natolumin commented on #79
I think with #58, the example config file in the README is once again correct, this would be fixed. We'll tackle docs update in general in #78

[2020-05-01 16:54] #79 closed

[2020-05-01 17:02] #93 closed

[2020-05-08 02:55] guo1017138 commented on #95
Thanks. Checked the latest code and the Close method is there. Closing the issue now.

[2020-05-08 02:55] #95 closed

[2020-05-09 02:35] guo1017138 opened #103 ""use of closed network connection" errror returned after Close() called"
Hi experts,

I know this is expected by current and I can ignore this error in my main function. However, it is really noisy that this log will always get printed. This log get printed by coredhcp and I hope we can ignore this expected error and not print it.

[2020-05-09T09:42:19+08:00]  INFO server: Error reading from connection: read udp 0.0.0.0:67: raw-read udp 0.0.0.0:67: use of closed networ

[2020-05-09 22:00] insomniacslk commented on #103
I'm not sure that's the proper fix, but if you can help me reproduce the issue I'll be happy to look into it

[2020-05-11 01:07] guo1017138 commented on #103
Hi @insomniacslk , you are correct, my solution just hide the error instead of fix it.
To reproduce it, just replace the end of main function of file https://github.com/coredhcp/coredhcp/blob/master/cmds/coredhcp/main.go to the following will be OK.

	// start server
	srv, err := server.Start(config)
	if err != nil {
		log.Fatal(err)
	}
	go func() {
		if err := srv.Wait(); err != nil {
			log.Prin

[2020-06-28 13:10] shellwhale opened #105 "Listen on a specific interface"
Is there a way to force the server to listen to a specific interface ? I'm not seeing anything about this in the README.MD and example files

[2020-06-29 08:57] Natolumin commented on #105
It is indeed not in the readme, we should probably add it. But there is an example in the example config:
https://github.com/coredhcp/coredhcp/blob/1d46fd693e093e2e983a9c59973be4415ed9ed87/cmds/coredhcp/config.yml.example#L5

The general syntax is that you add `%<iface>` after the address, before the port: `<address>@<interface>:<port>`
You can also omit the address and/or the port to listen on wi

[2020-06-29 11:17] insomniacslk commented on #105
I'll add that line to the README

[2020-06-29 14:09] insomniacslk commented on #105
we have actually updated the example file and reinforced the wording to point users to the example file

[2020-06-29 15:01] #105 closed

[2020-07-12 16:08] ScottESanDiego opened #109 "[Feature Request] Support ntp-server option (or arbitrary options?)"
The current design seems like it necessitates a plugin for every potential DHCP option, which is interesting but ultimately inflexible.

My near-term need is to pass `ntp-server` to my DHCP clients, and it looks like the easiest path would be to take the `dns` plugin and make an `ntp` version of it, since both are trivial options providing IP addresses.

This RFE is intended to capture the lack of

[2020-07-12 17:18] Natolumin commented on #109
For DHCPv4, considering that most options share the same 4 or 5 different layouts (int, ip, ip list, strings, routes, ...) and we basically have support in the library already, a generic "arbitrary option" plugin would certainly be a good idea and save us some pain.
Implementation-wise in addition to what we have now we'd need to be able to load the same plugin multiple times, which shouldn't be t

[2020-07-12 19:33] gadrenayan opened #110 "Adding mutex protection in Handler4 Handler6 to avoid concurrent access"
Hi,

I have been using the coredhcp server for some learning purpose and I was doing some performance tests using
"**perfdhcp**" tool. I saw there were race conditions hit in the **Handler4** where there were concurrent read write access to the map of lease records. I now know that map is not good for concurrent access. So I tested by adding a minor change of locking this path with a `&sync.mutex`

[2020-07-12 20:10] insomniacslk commented on #109
What @Natolumin said, plus the fact that we should revisit the configuration syntax as discussed in another issue, which may make it easier to implement "generic" options at least for v4

[2020-07-12 20:12] insomniacslk commented on #110
Thanks @gadrenayan , this is very useful! We should definitely fix this issue. I'm wondering what would the performance hit of a mutex be, and I would like to explore an alternative approach with goroutine and channels to do this in a lockless manner. I'll run some experiment this week

[2020-07-12 20:17] insomniacslk commented on #110
Just to be sure - are we talking about this map in the `file` plugin? https://github.com/coredhcp/coredhcp/blob/master/plugins/file/plugin.go#L53

[2020-07-12 20:18] insomniacslk commented on #110
I looked better at the logs and I assume it's actually in the `range` plugin, https://github.com/coredhcp/coredhcp/blob/master/plugins/range/plugin.go#L45 . We should fix this in multiple plugins, and possibly wrap this in a way that other plugins can use without reimplementing the same buggy code

[2020-07-12 21:26] insomniacslk commented on #110
Uh, maybe this could be handled with the `Allocator` in #108? (I haven't looked at that code yet though)

[2020-07-12 21:30] insomniacslk commented on #110
no, sorry - it seems to be a different thing, for managing address space allocations

[2020-07-13 05:44] gadrenayan commented on #110
I have tried replacing the existing Records "`map`" to a "`sync.Map`" which is mentioned as concurrent safe in the docs, however, I could not seamlessly integrate it due to few APIs missing, but I guess the only point of contention is the Handlerv4 and Handlerv6, so adding a mutex worked for me. Also, we are saving the IP-MAC in the lease file in the same context, which needs to be done together w

[2020-07-17 13:17] gadrenayan commented on #110
@insomniacslk Also, I was checking your channel and `**goroutine**` suggestion, would it be better if we do the "**`saveIPAddress`**" using the **`goroutines`**, as anyways we are not handling any **errors** in "**`saveIPAddress`**" so that can speedup the response.

[2020-07-18 10:15] Natolumin opened #111 "Lease storage API"
Following #110 and https://github.com/coredhcp/coredhcp/pull/108#issuecomment-657276733 I want to start a discussion about what the lease storage API would/should look like. This is pretty long but I have no real conclusion at the end, I hope we can build feedback and some PoCs to see where we should go

Quick note about terminology:
* `consumer plugin`: Uses the interface to query/store leases
*

[2020-07-20 14:26] gadrenayan commented on #110
@Natolumin @insomniacslk I wanted to ask, if the storage of the IP address in lease files and in the MAC-IP RecordsV4 happens on an OFFER or on an ACK. There can be scenarios where there are multiple DHCP servers sending OFFERS to client, however client will choose only one of the servers, in that case the lease file entry would have been wasted for such a client.

[2020-07-20 15:29] Natolumin commented on #110
Honest answer here is that we haven't really thought on that question before, and the current implementation of range definitely has the issue you describe

One way I've been thinking of handling this, is to reserve the ip on OFFER, but expiring immediately (or after a short timeout of the order of a few seconds). Then on ACK, you find an expired allocation, and extend and offer it for the actual

[2020-07-22 14:04] gadrenayan commented on #110
Hi @Natolumin I think [this](https://github.com/coredhcp/coredhcp/issues/110#issuecomment-661111043) is getting added through [this](https://github.com/insomniacslk/dhcp/pull/386#issue-436220305) but in @insomniacslk library.

[2020-07-22 15:53] Natolumin commented on #110
No, it's completely unrelated; we don't use either client/server from the library anymore (and the PR there is about a client behavior)

However, as part of #111 and #108 I will probably rework range to also use the allocator and lease storage interfaces (so we can have an example of a real usecase), which should take care of this.

In the mean time if you have a simple fix for `range` please send

[2020-07-22 17:29] gadrenayan commented on #110
Hi @Natolumin I have raised request with my org for any conflict of interest.
You can close this Issue, will commit after I receive permit from my organisation.

[2020-07-23 11:35] gadrenayan commented on #110
Hi, Sorry for further bothering, do we have a way to expire the lease in the server, I see that we record the lease, but there is no timer installed.

[2020-07-23 12:59] Natolumin commented on #110
here: https://github.com/coredhcp/coredhcp/blob/435f86b27e1b4ddb6ef01bd11a04a8aad62ee4b7/plugins/range/plugin.go#L219 we check for expired leases in `checkIfTaken`
However, we never delete the entries from the map (which shouldn't change anything for the client, but will result in more memory usage I suppose)

[2021-02-17 10:26] Natolumin commented on #103
in go 1.16 we may finally have a fix for this: https://golang.org/doc/go1.16#net

[2021-02-17 10:29] insomniacslk commented on #103
Awesome! With that (and other things like go:embed) I think we can start moving to Go 1.16

[2021-03-20 17:04] MalteJ commented on #105
How can a plugin detect the interface and its IP address, a DHCP request is received via?
The dhcpv4 object is quite empty:
[code]

[2021-03-20 19:00] insomniacslk commented on #105
That information is not exposed to the plugins, but it's visible to the listeners, that embed a `net.Interface` object. For example you could print the interface name by adding a
[code]
in [listener6.Serve](https://github.com/coredhcp/coredhcp/blob/master/server/handle.go#L197) and [listener4.Serve](https://github.com/coredhcp/coredhcp/blob/master/server/handle.go#L213)

[2021-04-20 22:38] tv42 opened #128 "website has broken links to config.yml.example"
https://coredhcp.io/README.md

[code]
[code]

Both links are broken. Github repo README has a working link to https://github.com/coredhcp/coredhcp/blob/master/cmds/coredhcp/config.yml.example

[2021-04-20 22:39] tv42 commented on #128
Also broken: website link to plugins https://coredhcp.io/plugins/ is 404, the generator https://coredhcp.io/cmds/coredhcp-generator/ is 404.

[2021-04-21 10:11] insomniacslk commented on #128
Thanks for reporting! The current website does some silly translation of URLs, but in reality we should better use GitHub Pages for this. Let me fix the URLs first then I'll move to github pages

[2021-04-21 11:25] insomniacslk commented on #128
This should be fixed now

[2021-04-21 11:25] insomniacslk commented on #128
@tv42 please let me know if you see any more broken links

[2021-04-21 20:32] tv42 commented on #128
Still broken: "Then try it with the local test client, that is located under cmds/client/:" links to https://coredhcp.io/cmds/client which is 404.

[2021-04-22 13:27] insomniacslk commented on #128
oh the issue there is that it doesn't end with a `/`, in fact https://coredhcp.io/cmds/client/ works . With the current system it's not possible to distinguish the two cases, I will migrate to github pages ASAP as it is the clean solution

[2021-04-26 13:58] insomniacslk commented on #128
Now https://coredhcp.io/ is fully pointing to GitHub Pages, and the links should be all accessible

[2021-04-27 00:56] tv42 commented on #128
Now the config.yml.example link to https://coredhcp.io/cmds/coredhcp/config.yml.example triggers a download!

Links to 404s:
https://coredhcp.io/cmds/coredhcp/
https://coredhcp.io/cmds/client/
https://coredhcp.io/plugins/
https://coredhcp.io/plugins/example/

[2021-04-28 16:57] insomniacslk commented on #128
wow. Sorry about that, something must have gone wrong when I had set up the custom domain redirection on GitHub. Looking now

[2021-04-28 17:01] insomniacslk commented on #128
interestingly I also get the download prompt if I open coredhcp.io from my browser in non-incognito. In incognito, everything works just fine. With curl too

[2021-04-28 21:06] th3goose opened #130 "coredhcp.io/plugins goes 404"
The links to plugins on coredhcp.io go to 404 currently.

[2021-04-28 21:17] insomniacslk commented on #130
Duplicate of #128, working on a fix

[2021-04-28 21:17] #130 closed

[2021-04-28 21:21] insomniacslk commented on #128
This was due to broken cached data on my side. Now looking at the other issues

[2021-04-28 21:43] insomniacslk commented on #128
Oh, I think I found an explanation. GitHub Pages expects a README.md when passing a path to a directory, so this works for cmds/coredhcp-generator (because it contains a README.md) but not with cmds/clients and others.

And for config.yaml.example it returns `content-type: application/octet-stream` as content-type, because I believe that GitHub Pages automatically tries to guess the content type

[2021-04-28 21:45] insomniacslk commented on #128
The same thing doesn't happen when browsing from the repository on github.com. I wonder if this is "working as intended", and in that case we need a workaround. For README.md that's pretty easy, for the content-type I am not so sure

[2021-04-28 21:53] th3goose commented on #130
Oh gotcha sorry didn't dig close enough at 128

[2021-04-28 22:14] insomniacslk commented on #130
No worries!

[2021-06-11 22:12] Alexxxxa commented on #111
- [ ] > #- [x] ~~~~https://discord.gg/3MGQENWJ************[[[](https://discord.gg/3MGQENWJ)](https://discord.gg/3MGQENWJ)](https://discord.gg/3MGQENWJ)************

[2021-08-17 09:43] skoef opened #133 "support for static DHCP leases"
Hi, I want to use coredhcp to serve static leases, instead of ranges of IPs. I adjusted the range plugin to support this, when it's invoked as:

`- range: leases.txt 60s`

omitting the start and end IP, where each line in `leases.txt` is in the form of `<MAC address> <IP address>`. When a host sends a discover message and its MAC address is not in the list, it will not get a lease and a warning is

[2021-08-17 10:10] Natolumin commented on #133
Does the `file` plugin not work for your need ? If I read you correctly it does basically what you're looking for

We don't have any plugin dependency information/facility so far unfortunately; there's a lot that can be improved in the plugin system, I'll try to make an issue about it

Plugins are called in the order they're listed in the configuration (which isn't super obvious or user-friendly a

[2021-08-17 10:14] skoef commented on #133
Didn't even see the `file` plugin until now, thanks!

If both the `file` and `range` would only mess with a response if no `YourIPAddr` was set, that would mean you could use them both right? Like the `leasetime` plugin only sets the lease time if the option wasn't present before?

[2021-08-17 10:48] Natolumin commented on #133
I'm not 100% sure that's the case (it's probably not), but it'd be easy to fix though

[2021-10-13 12:20] gaby opened #140 "Merge extra plugins into one repo"
Given that there's only two extra plugins in https://github.com/coredhcp/plugins are there any plans to just merge those in here? I'm interested in using the `netbox` plugin, but there's no information about whether it still works and how to install it.

[2021-10-14 20:12] Natolumin commented on #140
I don't think there are any such plans - they were moved to a separate repo to avoid having to track dependencies for less-used modules with more dependencies in the same `go.mod` as the core of coredhcp

Instructions for building with plugins are currently here: https://github.com/coredhcp/coredhcp/tree/master/cmds/coredhcp-generator#readme, but we certainly need to get that documented in the plu

[2021-10-15 23:57] gaby commented on #128
@insomniacslk The website is broken again, a lot of the URL's are returning 404 including the Plugins page.

[2021-10-15 23:57] gaby opened #141 "Plugins web page returns 404"
Currently only a few of the plugins container a README file. The website for the plugins is returning 404: https://coredhcp.io/plugins/

[2021-10-20 03:29] gaby opened #142 "Concurrent DHCP Servers and IP Conflicts"
Is it possible to have multiple concurrent `coredhcp`servers using the same `file_leases.txt` file, or would I need multiple `coredhcp` service different ranges for this to work?

I'm wondering how to integrate this with [dhcplb](https://github.com/facebookincubator/dhcplb)

[2021-10-29 23:10] lonnietc opened #145 "running Demo error on client"
Hello,

I am testing out coredhcp for possible use in a project on my Ubuntu 20.04 system.

I was able to compile it in Go and then copied over the config.ml-example in the coredhcp server director for use to test. After that, I compile the client.

Once that was done, I had to make an empty leases.txt file and then started up the server:

sudo ./coredhcp

and then tried the client:

sudo ./client

[2021-11-16 17:24] Natolumin commented on #145
The client implementation doesn't live in this repo - this is just a way to make the upstream implementation executable and available as a debugging tool. As far as I can see here the client is broken - it doesn't even send anything. You'll want to look for the implementation in here: https://github.com/insomniacslk/dhcp/blob/master/dhcpv6/client6/client.go and maybe open an issue for the upstream

[2021-12-20 10:54] insomniacslk commented on #128
I don't get notifications for this stuff for some reason.. anyway, the website has been migrated long time ago to GitHub Pages, so this should be solved for good. Please reopen if you still find some issues. Thanks!

[2021-12-20 10:54] #128 closed

[2022-01-01 22:06] ThisGuyCodes opened #148 "does the range plugin never release leases?"
Just looking to check if I'm missing something. If it doesn't I'd look to contribute a plugin (or update the existing one) that does.

[2022-01-02 11:50] Natolumin commented on #148
I'm not exactly sure what you mean: is this about expired leases never being garbage-collected or about handling DHCPRELEASE messages ?
In either case I don't think it should be in a separate plugin so feel free to send a PR to update the existing plugin for either feature as you need:

#### Expired Leases
To the best of my knowledge it does not and never has garbage-collected expired leases.
I su

[2022-01-02 12:38] ThisGuyCodes commented on #148
I was just talking about garbage collecting expired leases, appreciate the complete response!

In that case I may make a PR for something quite basic:

- goroutine per lease with a context and a `time.After`
	- should be fine for a couple thousand leases
	- cancel old context on renewal, make new goroutine
- ignore expires leases when reading in the file

Not planning to bother with GC on the file

[2022-01-04 12:28] rgl opened #150 "Cannot build on Windows"
While installing this using PowerShell on Windows:

[code]

This was supposed to be fixed in:

* https://github.com/coredhcp/coredhcp/issues/63
* https://github.com/insomniacslk/dhcp/issues/339

But it seems this repository is still not picking the corrected dhcp library version.

[2022-02-10 23:06] sheerun opened #151 "master branch won't compile"
[code]

[2022-02-11 09:08] Natolumin commented on #151
What's your `GOOS` / `GOARCH` ?
The project is tested on linux, and uses at least unix-specific APIs, possibly linux-specific.

There's an attempt at bypassing the compilation error that you can try in #131 for macos, or a more general PR that also incidentally covers this for multiple os in #129.

We don't have the equipment for, and at this stage of development won't commit to, full support on n

[2022-02-11 10:10] sheerun commented on #151
It’s MacOS on M1 Mac. It’s the only error and it resolves when I revert to
the commit before the one that introduced this variable

On Fri, 11 Feb 2022 at 10:08 Anatole Denis ***@***.***> wrote:

--
Best Regards,
Adam Stankiewicz

[2022-03-18 01:58] mholt commented on #91
Still think this would be awesome btw 🙃

[2022-04-07 11:22] Adphi opened #153 "Range Plugin does not re-allocate leased IPs on start-up"

[2022-05-31 12:30] arun11299 opened #155 "Question: As standalone relay agent"
Hi,
Wanted to know if it could be used as a standalone DHCP relay agent out of the box ?

Thanks.

[2022-06-02 14:30] #155 closed

[2022-06-02 15:23] #153 closed

[2022-08-15 09:21] attlee-wang opened #157 "File plugins do not actively obtain static route, but range is ok"
File plugins do not actively obtain static route, but range is ok.
- range  plugins
<img width="1302" alt="image" src="https://user-images.githubusercontent.com/57479557/184609888-74688a83-76b4-456b-a348-673425d111e4.png">
- file plugins

<img width="1297" alt="image" src="https://user-images.githubusercontent.com/57479557/184610444-dfd48acf-e962-4c55-8412-ab3d5ec6826f.png">

[2022-08-15 18:38] Natolumin commented on #157
I'll need more information to understand and reproduce the issue here. Can you share more about what and how you're testing ? In particular:

* Which commit you're running if it's not the current master. I see a bunch of logs in your screenshots that I can't find anywhere in the code, so you seem to have modified the software ? If so please reproduce the issue on the current master first
* Show th

[2022-09-12 04:24] attlee-wang commented on #157
@Natolumin  I have found this problem, I will fix it later.

[2022-09-12 04:28] attlee-wang opened #158 "Can coredhcp support multiple IPs on a single network card?"
I have a case:
there are multiple Ipv4 and multiple ipv6 on a single network card, codedhcp does not seem to support it.
Hope to have this function.

[2022-09-12 17:49] Natolumin commented on #158
It does support that: it'll listen on ipv4 wildcard and ipv6 well-known multicast addresses by default, but you can specify which interface(s) and address(es) you want to listen on specifically in the configuration. It will use the same configuration for all the addresses, so if you need separate configurations for each address, you can launch multiple coredhcp processes instead

You can find deta

[2022-09-14 10:41] attlee-wang commented on #158
@Natolumin  I may not have made it clear. I  have only one network card, that is to say, only one MAC address, but I want to bind multiple IPV4 addresses to it. When multiple dhcp services are deployed, only one IPV4 address can be successfully bound, and other addresses will be rejected. So, what can I do to bind multiple IPV4 addresses to one MAC address?

[2022-09-14 17:44] Natolumin commented on #158
Ah! I completely misunderstood your initial message - you mean a *client* wants to obtain multiple IPs!

So 2 answers:
* In DHCPv4, we don't support that and I we can't really without massive changes. The current model is strictly 1 request packet leads to 1 response packet. DHCPv4 has a single "yourip" field, so we would need to send multiple messages to assign multiple IPs to the same MAC client

[2022-10-01 23:58] Adphi opened #160 "Remove global state"
One of the many good things of coredns is how easy it is to embed it into another program.
Coredhcp could benefit to do the same thing by removing all global state (global variables) and expose a `NewServer` method.
It could also increase project adoption among developers.

[2022-10-02 00:36] Adphi commented on #160
One part seems to be covered by https://github.com/coredhcp/coredhcp/pull/159

[2022-10-05 20:30] Natolumin commented on #160
That's pretty vague, so I tried to look for specific uses that our current global state would prevent when embedding and problems it might cause when embedded. If I've missed some or if you have specific ideas in mind please feel free to send your own items too. Also one specific usecase of embedding could be #91

* Global plugin state (the bit addressed by #159) ties the lifetime of coredhcp to t

[2022-10-11 15:20] Adphi commented on #160
I was developing a small home-router with several network interfaces including a wifi one, so I needed a dhcp server.
As I was already using **coredns**, I would have liked to use **coredhcp** as well, just to stay in the "core" spirit 😀.
In fact, it's mostly to avoid implementing it myself.
I ended up taking the handlers of the plugins I needed and re-implementing the server to support hot reload

[2022-10-17 06:57] purpleidea opened #161 "Broken retracted dep."
Unfortunately, most projects have moved to go.mod -- GOPATH and git submodules would have been better.
As a result, someone is using the retract feature here:

https://github.com/u-root/u-root/blob/793a1c12ac7f849185ec7dc927cf8ae9e5ad7bc4/go.mod#L71

This breaks the builds for anyone using this project. See here:

https://github.com/coredhcp/coredhcp/blob/a2552c5c1b7a18344f099014fa6a5386497f7045/g